@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

body {
    background-image: url(./assets/zig-zag.svg);
    min-height: 100vh;
    font-family: 'Teko', sans-serif;
    font-size: 35px;
    letter-spacing: 1.5px;
    background-position: center;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}
.intro{
    text-align: end;
}
.signUp{
    color: black;
    text-align: end;
    font-size: 30px;
    margin-right: 20px;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
}
.signUp:hover{
    color: rgba(138, 43, 226,0.7);
}
h2 {
    text-align: center;

    margin: 5px;
}

h3 {
    text-align: center;
    margin: 5px;
}


.container {
    width: 60%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.data {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background-color: rgb(152, 196, 196);
    opacity: 0.6;
    border: 1px solid green;
    border-radius: 20px;
    width: 40vw;
    text-align: center;
    transition: 250ms;
    cursor: pointer;
    box-shadow: 1px 1px 20px;
}

.data:hover {
    background-color: black;
    transform: scale(1.1);
    opacity: 0.7;
}
.data:hover .invert{
    filter:  invert(1);
}
.data:hover a {
    color: whitesmoke;
    opacity: 1;
}

a {
    text-decoration: none;
    font-size: x-large;
    color: blueviolet;
    opacity: 1;
}

div img {
    float: left;
    padding: 0;
    margin: 0;
    max-height: 55px;
}

h2 img {
    max-height: 55px;
}

footer a {
    text-decoration: none;
    font-size: medium;
    padding: 0;
    margin: 0;
}