@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

body {
    background-image: url(../assets/zig-zag.svg);
    min-height: 100vh;
    font-family: 'Teko', sans-serif;
    font-size: 35px;
    letter-spacing: 1.5px;
    background-position: center;
}
h3 {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    gap:20px;
    margin: 0 auto;
    
}
.container>*{
    padding: 20px;
    font-size: 25px;
    font-family: 'Teko',sans-serif;
    border-radius: 12px;
    outline: none;
    border: 1px solid green;
    box-shadow: 1px 1px 20px rgba(6, 6, 6, 0.3);

}
button{
    width: 12vw;
    cursor: pointer;
    background-color: whitesmoke;
}
button:hover{
    background-color: blueviolet;
    color: white;
}
::placeholder{
    font-family: 'Teko',sans-serif;
    font-size: 25px;
}
.terms{
    border: none;
    box-shadow: none;
    font-size: 30px;
}
#terms{
    width: 25px;
    height: 25px;
}
.terms:hover{
    color: blueviolet;
    cursor: pointer;
}

@media screen and (max-width:430px){
    button{
        width: unset;
    }
}